$red: #f00;
$yellow: #ff0;
$black: #000;
$color_japanese_laurel: #008000;
$silver: #c0c0c0;
$color_quill_gray: #d4d4d4;
$color_sea_buckthorn: #f5a623;
$white: #fff;
$color_rangoon_green: #1a1a1a;
$black_10: rgba(0, 0, 0, 0.1);
$color_azalea: #f8d0d2;
$color_egg_sour: #fef2de;
$color_cardinal: #d12028;
$color_apple: #2dc22d;
$color_mantis: #82d465;
$color_azure: #3864a3;
$color_chambray: #2d5082;
$color_shakespeare: #5ea9dd;
$color_curious_blue: #2c8dd0;

$font-haymaker: haymakerregular;
$font-blanch: blanchcaps_inline;
$font-sans-serif: sans-serif;
$font-open-sans: Open Sans;

$font-family-secondary: monospace,
serif;
