$color_sea_buckthorn: #f5a623;
$color_white: #fff;
$color_black: #000;
$color_rangoon_green: #1a1a1a;
$color_black_10: rgba(0, 0, 0, 0.1);
$color_azalea: #f8d0d2;
$color_egg_sour: #fef2de;
$color_cardinal: #d12028;
$color_apple: #2dc22d;
$color_mantis: #82d465;
$color_azure: #3864a3;
$color_chambray: #2d5082;
$color_shakespeare: #5ea9dd;
$color_yellow: #ff0;
